.body{
    text-align: center;
    display: grid;
}
#mainDiv{
    width: 80vw ;
    height: 100vh ;
    margin: 0 auto; /* centers horizontally */

}
.cellDiv{
    /*background-color: yellow;*/
    display: inline-block; /* makes divs line up horizontally */
    /*width: 200px ;
    height: 150px ;*/
    visibility:visible;
    justify-content: center;     /* Center horizontally */
    align-items: center;         /* Center vertically */
    /* width: 200px; */
    height: 150px;
    visibility: visible;
}
.textDiv{
    width: 80% ;
    height: 90%;
    color: cadetblue;
    font-size: 100px;
    text-align: center;
    border-radius: 25px;
    margin: 0 auto ;
    background-color: rgb(13, 118, 121);

}
.cellDiv:hover{
    opacity: 0.5;
  /* Move 5 pixels right and 10 pixels down from its original position */
     transform: translate(5px, 10px);
     color: black;
     visibility: visible;
}
